.square {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	float: left;
	background-color: #A7121E;
	margin: 1px;
}

#playfield {
	width: 320px;
	height: 465px;
	background-color: #00232A;
}

body {
	margin: 0;
}

* {
	-webkit-touch-callout: none;
}
#info {
	text-align: center;
	font-family: "helvetica neue", helvetica;
	display:none;
	width: 320px;
	height: 465px;
	font-weight: lighter;
	text-transform: uppercase;
}
#info span {
	display: block;
	margin-top: 140px;
}