.square {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	float: left;
	background-color: blue;
}

#playfield {
	width: 320px;
	height: 480px;
	background-color: grey;
}

body {
	margin: 0;
}

* {
	-webkit-touch-callout: none;
}
